body{
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: space-evenly;

}
.calculator{
    border: 1px solid rgb(139, 137, 137);
    width:  220px;
    border-radius: 5px;
    background-color:darkseagreen;
    

}

